version: "3.8"

services:

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
    networks:
      - backend
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - backend

  service-regis:
    build: ./service-regis
    container_name: service-regis
    environment:
      - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411
    depends_on:
      - zipkin
    ports:
      - "1234:1234"
    networks:
      - backend

  review-service:
    build: ./review-service
    container_name: review-service
    ports:
      - "3000:3000"
    environment:
       - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
       - MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0
    depends_on:
      - postgres
      - service-regis
      - zipkin
    networks:
      - backend

  job-service:
    build: ./job-service
    container_name: job-service
    ports:
      - "1000:1000"
    environment:
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
      - MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0
    depends_on:
      - postgres
      - service-regis
      - zipkin
    networks:
      - backend

  company-service:
    build: ./company-service
    container_name: company-service
    ports:
      - "2000:2000"
    environment:
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
      - MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0
    depends_on:
      - postgres
      - service-regis
      - zipkin
    networks:
      - backend

volumes:
  postgres-data:

networks:
  backend:
    driver: bridge
